.git/.MERGE_MSG*
.git/MERGE_MSG
.DS_Store
*/.DS_Store
UnityGame/Workspace
UnityGame/Res
UnityGame/www
UnityGame/obj*
UnityGame/Library
UnityGame/www
UnityGame/res
UnityGame/Library*
UnityGame/Temp*
UnityGame/PlatformProj
UnityGame/Assets/StreamingAssets/Platform*
UnityGame/Assets/StreamingAssets/crash_report*
UnityGame/Assets/StreamingAssets/test_record*
UnityGame/Assets/StreamingAssets/test_WarEnterData*
UnityGame/Assets/StreamingAssets/test_*
UnityGame/Assets/_ZF
UnityGame/Assets/_Test
UnityGame/Assets/_temp
UnityGame/Assets/_*.meta
UnityGame/UnityGame.CSharp.Editor.csproj
UnityGame/UnityGame.CSharp.csproj
UnityGame/UnityGame.sln
UnityGame/UnityGame.userprefs
UnityGame/*.csproj
UnityGame/*.sln
UnityGame/*.userprefs
UnityGame/Assets/Game/Resources/files.csv*
UnityGame/Assets/Game/Config/~*
UnityGame/Assets/aaa*
UnityGame/Assets/StreamingAssets/game_const.json*
UnityGame/Assets/StreamingAssets/user_*
UnityGame/Assets/StreamingAssets/users
UnityGame/Assets/StreamingAssets/users*
UnityGame/Assets/StreamingAssets/kcj_conf
UnityGame/Assets/StreamingAssets/kcj_conf*
UnityGame/Assets/Game/Lua/*.meta
UnityGame/Assets/Game/Lua/*/*.meta
UnityGame/Assets/Game/Lua/*/*/*.meta
UnityGame/Assets/Game/Lua/*/*/*/*.meta
UnityGame/Assets/Game/Lua/*/*/*/*/*.meta
UnityGame/Assets/Game/Lua/*/*/*/*/*/*.meta
UnityGame/Assets/Game/Lua/*/*/*/*/*/*/*.meta
UnityGame/Assets/Game/Config/*.meta
UnityGame/Assets/Game/Config/*/*.meta
UnityGame/Assets/Game/Config/*/*/*.meta
UnityGame/ProjectSettings/ProjectVersion.txt
UnityGame/Assets/Editor/
UnityGame/ProjectSettings/GraphicsSettings.asset
UnityGame/ProjectSettings/EditorBuildSettings.asset
UnityGame/Assets/Game/LuaBytes*
UnityGame/Assets/Game/ConfigBytes*
UnityGame/Assets/Game/Arts_Modules/Wars/Animations.meta
UnityGame/Assets/Game/Scripts/CC/Shaders.meta
UnityGame/Assets/Game/Scripts/CC/Editor/XUPorter/Mods/iOS/Store.meta
UnityGame/Assets/Game/Scripts/CC/Shaders/UI.meta
UnityGame/Assets/Game/ConfigBytes
UnityGame/Assets/Game/ConfigBytes.*
UnityGame/Assets/Game/ConfigBytes/*
UnityGame/Assets/Game/LuaBytes
UnityGame/Assets/Game/LuaBytes.*
UnityGame/Assets/Game/LuaBytes/*
UnityGame/Assets/Game/Resources/effect3d_new.meta
UnityGame/Assets/EditorDefaultResources*
UnityGame/CenterProj/Common/bin/*
!UnityGame/CenterProj/Common/bin/common.jar
UnityGame/CenterProj/Mi/bin/*
UnityGame/CenterProj/Mi/gen/*
!UnityGame/CenterProj/Mi/bin/mi.jar
UnityGame/CenterProj/4399/bin/*
UnityGame/CenterProj/4399/gen/*
!UnityGame/CenterProj/4399/bin/4399.jar
UnityGame/res/crash_report.log
UnityGame/res/
UnityGame/QRCode/bin/
UnityGame/QRCode/obj/
UnityGame/Assets/Plugins/Editor/UniWebView.bundle.meta
UnityGame/Assets/Plugins/Android*
UnityGame/Assets/Plugins/Editor/UniWebView.bundle/Contents.meta
UnityGame/Assets/Local.meta
UnityGame/Assets/Local/
UnityGame/log.html
UnityGame/Assets/Plugins/General/DOTween/DOTween.sln
UnityGame/Assets/Plugins/General/DOTween/DOTween.sln.meta
UnityGame/Assets/Plugins/General/DOTween/DOTween.userprefs
UnityGame/Assets/Plugins/General/DOTween/DOTween.userprefs.meta
UnityGame/version/OSX/NoCenter/app-ver01.00.00_beta-20161012221044.csv
UnityGame/Assets/ulualib/uLua.dll
UnityGame/Assets/ulualib/uLua.dll.meta
